<%- include('partials/header') %>

<div class="p-10">

<h1 class="text-2xl mb-6">Wishlist</h1>

<% items.forEach(p => { %>

<div class="mb-4">

<img src="/images/<%= p.image %>" class="w-40 mb-2">

<h3><%= p.name %></h3>
<p>AED <%= p.price %></p>

<form action="/remove-wishlist/<%= p.id %>" method="POST">
<button class="text-red-500">Remove</button>
</form>

</div>

<% }) %>

</div>

<%- include('partials/footer') %>